@import '../../../../styles/main';

.blog-post {
  padding-top: 2.6rem;

  a {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $fontStack1;
    color: $colorTextHeader;
    &:hover {
      color: $colorLink;
    }
  }

  .date {
    font-size: 0.8rem;
    font-weight: 700;
    font-family: $fontStack2;
    padding-top: 0.5rem;
    color: $colorDate;
    text-transform: uppercase;
  }
}
