@font-face {
  font-family: 'SF Pro Text';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-regular-webfont.woff');
  unicode-range: U+0020-007F, U+00A0-00FF;
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 700;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-bold-webfont.woff');
  unicode-range: U+0020-007F, U+00A0-00FF;
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
  unicode-range: U+0020-007F, U+00A0-00FF;
}
