@import 'font';

// Variables

$colorTextHeader: #000;
$colorTextBody: #333;
$colorDate: #666;
$colorLink: #1c93d2;
$selected: #b9e7ff;

$fontStack1: 'Crimson Text', Georgia, Times New Roman, serif;
$fontStack2: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontStackCode: Courier, monospace;


// Global

html {
  // fix jumping scrollbar
  width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering:optimizeLegibility;
}

a {
  text-decoration: none;
  outline: none;
  transition: color 0.5s ease-out;
}
